<html>
	<head>
		<meta charset="utf-8"> 
		<title> QATAP </title>
		<link href="stylesheet/signin.css" rel="stylesheet">
		<link rel= 'stylesheet' href='bootstrap/css/bootstrap.css'  type='text/css'/>
	</head>
	<body>
		<div class="container">
			<div class="row">
			    <div class="col-lg-12">
			        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			            <div class="navbar-header">
			                <h3 style="color:white" >TestWiz</h3>
			            </div>
			           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			              <form class="navbar-form navbar-right" action='/logout'>
			                    <div class="btn-group">
			                      <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" style="background: rgba(54, 25, 25, 0);color:#fff">
			                        <span class="glyphicon glyphicon-user"></span> <%= title %> 
			                        <span class="caret"></span>
			                      </button>
			                      <ul class="dropdown-menu">
			                        <li ><a href="/home" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
			                        <li><a href="/cpasswd?user=<%= title %>" ><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
			                        
			                      </ul>
			                    </div>
			                    <button type="submit" class="btn navbar-btn btn-inverse" style="background: rgba(54, 25, 25, 0);color:#fff"><span class="glyphicon glyphicon-log-out"></span> logout</button>
			              </form>
			           </div>
			            
			        </nav>
			    </div>
			</div>
			</br>
			</br>
			</br></br></br>
			</br>
			</br>
			<form role="form" class="form group" action="/show_incomplete" method="post">
			<div>
				<h1> WELCOME <%= title %> <h1>
			</div>
			<div class="col-lg-6">

				<% for( var t=0; t< list.length; t++){ %>
					    <div class="input-group">
					      <span class="input-group-addon">
					        <input type="radio"  value=<%= list[t]%> id="choice" name="choice" > QUIZ ID <%= list[t] %>
					      </span>
					    </div>
				<% } %>
			</div>
			<input type="hidden" name="creator" value=<%= title %>>
			<button type="submit"  class="btn btn-success">GOOO....</button>
			</form>
			
		</div>
	</body>
	<script src="jquery-1.10.2.min.js"></script>
	<script src='bootstrap/js/bootstrap.js'></script>
	 <!-- <script src="/socket.io/socket.io.js"></script> -->    
	<script>
		var $j = jQuery.noConflict();
        $j(function(){
        	 
        });
	</script>
</html>