<html>
    <head>
    <link rel= 'stylesheet' href='bootstrap/css/bootstrap.css'  type='text/css'/>
    <script src="all.js"></script>
    <script>
      function preventBack(){window.history.forward();}
      setTimeout("preventBack()", 0);
      window.onunload=function(){null};
    </script>
    </head>

    <body background="img/tree_bark.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                        <div class="navbar-header">
                            <h3 style="color:white" >TestWiz</h3>
                        </div>
                       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <form class="navbar-form navbar-right" action='/logout'>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" style="background: rgba(54, 25, 25, 0);color:#fff">
                                    <span class="glyphicon glyphicon-user"></span> <%= title %> 
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li ><a href="/home" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
                                    <li ><a href="/cpasswd?user=<%= title %>" ><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
                                    
                                  </ul>
                                </div>
                                <button type="submit" class="btn navbar-btn btn-inverse" style="background: rgba(54, 25, 25, 0);color:#fff" ><span class="glyphicon glyphicon-log-out"></span> logout</button>
                          </form>
                       </div>
                        
                    </nav>
                </div>
            </div>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
           <h1> Welcome <%= title %> your result for Quiz <%= Qid %> is as follows</h1>
            <div class="row" style="margin-top:30px">
                <div class="col-lg-12">
                    <% var z = 1;%>
                    <% for( var i=0,z=1; i < table.length; i+=5,z++ ){%>
                        <div class="row" >
                            <div class="col-lg-4"> Section Name : <%= table[i+1] %></div>
                            <div class="col-lg-4"> Section Score: <%= table[i] %></div>
                            <div class="col-lg-4"> Section Result: <%= stat[z-1] %></div>
                        </div>
                        </br>
                        </br>
                        <div class="row">
                            <table class="table table-hover table-bordered">
                                <tr >
                                    <td> Problem no. </td>
                                    <td> Your selection </td>
                                    <td> Correct answer </td>
                                </tr>
                                <% var x = table[i+2].length %>
                                <% for( var k = 0; k < x; k++){ %>
                                    <tr class=<%= table[i+4][k] %> >
                                        <td> <span class="badge"><%= k %></span> </td>
                                        <td> <span class="badge"><%= table[i+2][k] %></span> </td>
                                        <td> <span class="badge"><%= table[i+3][k] %></span> </td>
                                    </tr>

                                <% } %> 

                            </table>
                        </div>
                        </br>
                        </br> 
                    <% } %>
                    <!-- <table class="table table-hover"></table> -->
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
            

        </div>
    </body>
    <script>
        var $j = jQuery.noConflict();
        //var socket = io.connect();
        $j(function(){
            $j(document).bind("contextmenu",function(e){
                    e.preventDefault();
            });
        });
    </script>
</html>



